@model IEnumerable<OnlineShoppingStore.Models.DAL.telefono>

@{
    ViewBag.Title = "TelefonosContacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2 style=" margin-top: 100px; ">Mis Teléfonos </h2></center>





    @foreach (var item in Model)
    {
        <center>
            <div style=" width: 1000px; margin-top: 50px; ">


                @Html.DisplayFor(modelItem => item.Ntelefono)


               

                <a href=@("/telefonos/Edit/"+item.idtelefono) style=" margin-left: 50px; " class="btn btn-warning">Editar</a>

                <hr style=" margin-left: 200px; margin-right: 200px; " />

            </div>
        </center>
        
    }


